<div class="header">
  <div class="wrapper">
    <ul class="nav">
      <li>
        <a class="nav-item" href="/"><img class="logo" src="/visuals/logo-white.svg" /></a>
      </li>
      <li>
        <a class="nav-item" href="/why-help">Why help?</a>
      </li>
      <li>
        <ul class="sub-menu">
          <li><a class="nav-item" href="/programmes">Programmes</a></li>
          <li><a class="nav-item" href="/where-we-work">Where we work</a></li>
          <li><a class="nav-item" href="/partners">Partners</a></li>
          <li><a class="nav-item" href="/stories">Stories from the field</a></li>
        </ul>
        <a class="nav-item" href="#">What we do</a>
      </li>
      <li>
        <a class="nav-item" href="/about-us">About us</a>
      </li>
    </ul>
    <div class="actions">
      <a class="button yellow primary" href="#">Donate</a>
      <a class="button yellow secondary" href="/volunteer">Volunteer</a>
    </div>
  </div>
</div>
